<!DOCTYPE html>
<html lang="en">
<head th:fragment = "head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">后台管理</title>
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/semantics-dist/semantic.min.css" th:href="@{/semantics-dist/semantic.min.css}">
    <link rel="icon" th:href="@{/images/icon1logo32.ico}" href="/favicon.ico">
    <script src="../../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}" ></script>
    <link rel="stylesheet" href="../../static/lib/editormd-master/css/editormd.min.css"  th:href="@{/lib/editormd-master/css/editormd.min.css}">

    <script src="../../static/lib/editormd-master/editormd.min.js" th:src="@{/lib/editormd-master/editormd.min.js}"> </script>

    <script>
        $(document).ready(function() {
            $('#newblog-container').load('/footer/newblog' );
        });
    </script>




    <script src="../../static/semantics-dist/semantic.min.js" th:src="@{/semantics-dist/semantic.min.js}" ></script>
<!--    有时候静态页面比thymeleaf好用 -->
    <style >
        body {
            background-image: url(/images/background2.png);
            background-size: cover;/
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<!--th:style="'background :url(/images/anime11.png);'"-->

<body>
<!--<div th:style="'background-image: url('https://img8.51tietu.net/pic/2016-071105/201607110506065fdxcka1qoc127484.jpg''); background-size: cover;'">>-->
<div>


    <nav th:fragment="menu(n)" class = "ui   attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container"  >
            <div class="ui   secondary stackable menu">
                <a href="#" th:href="@{/admin/blogs}">
                    <h3 class="ui  teal header item" ><i class="ui archive  clipboard outline icon"></i>文章管理</h3></a>
                <a class="m-item m-mobile-hidden item"  th:classappend = "${(n == 7) ? 'active' : ''}" th:href="@{/admin/index}"><i class="ui  home icon">  </i> 我的 </a>
                <a class="m-item m-mobile-hidden item"  th:classappend = "${(n == 6) ? 'active' : ''}" th:href="@{/}"><i class="ui archive  icon">  </i>游客主页</a>
                <a class="m-item m-mobile-hidden  item"  th:classappend = "${(n == 1) ? 'active' : ''}" th:href="@{/admin/blogs/input}"> <i class="ui pencil icon">  </i>新增文章</a>
                <a class="m-item m-mobile-hidden item"  th:classappend = "${(n == 2) ? 'active' : ''}" th:href="@{/admin/todolist}"> <i class="ui tasks  icon">  </i>TODO</a>
                <a class="m-item m-mobile-hidden item"  th:classappend = "${(n == 3) ? 'active' : ''}" th:href="@{/admin/chart}"><i class="ui chart bar icon">  </i> 图表 </a>
                <a class="m-item m-mobile-hidden item"  th:classappend = "${(n == 5) ? 'active' : ''}" th:href="@{/admin/tags}"><i class="ui compass icon">  </i> 机器人</a>
                <a class="m-item m-mobile-hidden item"  th:classappend = "${(n == 4) ? 'active' : ''}" th:href="@{/admin/media/bilibiliuser}"><i class="ui play  icon">  </i> 视频 </a>


                <div class="right m-mobile-hidden menu">
<!--                    <div class="ui dropdown item">-->
<!--                        <img class="ui avatar image" src="../../static/images/mio3.jpg" th:src="@{/images/mio3.jpg}">-->
<!--                        长野原美绪-->
<!--                        <i class="dropdown icon"></i>-->
<!--                        <div class="menu">-->
<!--                            <a href="#" class="item" th:href="@{/admin/user}">管理账号</a>-->
<!--                            <a href="#" class="item" th:href="@{/admin/logout}">退出登录</a>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="ui dropdown item">
                        <img class="ui avatar image" src="../../static/images/mio3.jpg" th:src="@{${session.user.avatar}}" >

                        <a href="#" class="header" th:text="${session.user.nickname}"> </a>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item" th:href="@{/admin/user}">管理账号</a>
                            <a href="#" class="item" th:href="@{/admin/logout}">退出登录</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a href="#" class="ui menu toggle m-mobile-show   button">
            展开
            <i class="sidebar  icon m-top-right "></i>
        </a>
    </nav>

    <!--二级导航-->
    <div  th:fragment="div1" class="ui attached pointing menu">

        <div class="ui container">
            <div class="right menu">

                <a href="#" th:href="@{/admin/blogs/input}" class="item"><i class="edit teal icon"></i>新增文章</a>
                <a href="#" th:href="@{/admin/blogs}"  class="teal  item"><i class="ui  teal list icon"></i>博客列表</a>
                <a class="   teal item"   th:href="@{/admin/types}"> <i class="ui idea teal icon">  </i>分类管理</a>
                <a class="  teal  item"   th:href="@{/admin/tags}"><i class="ui tags teal icon">  </i>标签管理</a>
            </div>
        </div>
    </div>

    <div  th:fragment="bilidiv" class="ui attached pointing menu">

        <div class="ui container">
            <div class="right menu">

                <a href="#" th:href="@{/admin/media/bilibiliuser}" class="item"><i class="edit teal icon"></i>用户视频表</a>

                <a class="   teal item"   th:href="@{/admin/media/showlocalbilibili/0}"> <i class="ui idea teal icon">  </i>本地构建 </a>

            </div>
        </div>
    </div>
    <br>    <br>    <br>    <br>    <br>    <br>    <br>
    <br>    <br>    <br>    <br>    <br>    <br>    <br>
    <br>    <br>    <br>

    <!--    中间内容 -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer th:fragment="footer"  class = "ui    attached segment m-padded-tb-mini m-shadow-big-up">


        <br>
        <br>
        <br>
        <div class="ui center aligned container">
            <div class="ui   divided stackable grid">

                <div class="three wide column">

                    <div class="middle aligned">

                        <img src="../static/images/mio1.png"
                             class="ui middle aligned round image" alt="" style="width: 150px" th:src="@{/images/mio1.png}">
                    </div>


                </div>
                <div class="three wide column ">
                    <h4 class ="ui   header" >最新文章</h4>
                    <div class="ui red  link list">
                        <div id="newblog-container">
                            <div class="ui   link list" th:fragment="newblogList">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item black m-text-thin" th:each="blog : ${newblogs}" th:text="${blog.title}">用户故事（User Story）</a>
                                <!--/*-->
                                <!--*/-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class ="ui   header">联系方式</h4>
                    <div class="ui black  link list">
                        <a href="https://github.com/yonghuname" target="_blank" class="item"> <i class="github icon"></i>Github</a>
                        <a href="https://gitee.com/tzjm" class="item" target="_blank"> <image class=" mini icon" src="../../static/images/gitee-logo.ico"
                          th:src="@{/images/gitee-logo.ico}" style="max-width: 13px;max-height:13px"></image> Gitee</a>

                    </div>
                </div>

                <div class="seven wide column">

                    <h4 class ="ui   header">网页介绍</h4>

                    <p  class="m-text-thin m-text-spaced m-opacity-mini ">"全方位学习伙伴，智慧记录每一步 —— 学途智伴，让知识触手可及，心灵沟通无间。"</p>

                </div>
            </div>

            <!--111111111111111111111111111111-->

            <div class="ui   section divider m-padded-tb-">
            </div> <p class="m-text-thin m-text-spaced m-opacity-mini">All rights reserved  </p>
        </div>
    </footer>



</div>
</body>


</html>