<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">


<head th:replace="~{/admin/_fragments:: head(~{::title})}">

    <!--<head>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="../../static/semantics-dist/semantic.min.css" th:href="@{/semantics-dist/semantic.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">

    <script src="../../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}" ></script>
    <script src="../../static/semantics-dist/semantic.min.js" th:src="@{/semantics-dist/semantic.min.js}" ></script>
</head>








<!--h:style="'background-image: url(@{/static/images/anime11.png}); background-size: cover; background-position: center; background-repeat: no-repeat;'"-->

<body  >



<nav th:replace="~{admin/_fragments :: menu(1)}"    class = "ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container"  >
        <div class="ui inverted secondary stackable menu">
            <h3 class="ui teal header item">博客管理后台</h3>
            <a class="active m-mobile-hidden item"> <i class="ui home icon">  </i>发布</a>
            <a class="m-item m-mobile-hidden item"> <i class="ui idea icon">  </i>分类</a>
            <a class="m-item m-mobile-hidden item"><i class="ui tags icon">  </i>标签</a>
            <div class="right m-mobile-hidden menu">
                <div class="ui dropdown item">
                    <img class="ui avatar image" src="../../static/images/mio3.jpg">
                    长野原美绪
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">管理账号</a>
                        <a href="#" class="item">退出登录</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <a href="#" class="ui menu toggle m-mobile-show black button">
        <i class="sidebar icon m-top-right "></i>
    </a>
</nav>
<!--二级导航-->
<div  th:replace="~{admin/_fragments ::div1}"  class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">

            <a href="#" class="item">发布</a>
            <a href="#" class="teal active item">列表</a>
        </div>
    </div>
</div>
<!--    中间内容-->
<br>
<!--中间内容-->
<div  class="  m-padded-tb-big">

    <div class="ui   container">
        <div  class="ui secondary segment form">
            <!--      todo      这个 <form> 元素会触发默认的表单提交行为，而你的 JavaScript 中可能对表单的提交进行了一些处理，导致了问题。通过去掉 <form> 元素，你 essentially 将这部分内容从传统的表单提交行为中解耦，而更加依赖 JavaScript 处理。这样做可以防止浏览器默认的表单提交，确保你的 JavaScript 代码能够正确地处理用户的搜索请求。-->

            <input type="hidden" name="page" >
            <!--      todo 笔记  要知道隐含域的意义               -->
            <div class=" inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="  text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                <!--/*-->
                                <div class="item" data-value="2">英语</div>
                                <!--*/-->
                            </div>
                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>
                    </div>

                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button  type="button" id="search-btn" class="ui mini  blue large  button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="blogList" class="ui compact teal table">
                <thead>

                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">刻意练习清单</td>
                    <td th:text="${blog.type.name}">认知升级</td>
                    <td th:text="${blog.recommend} ? '是':'否'">是</td>
                    <td th:text="${blog.published} ? '发布':'草稿'">草稿</td>
                    <td th:text="${blog.updateTime}">2017-10-02 09:45</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" th:onclick="return confirm('您确定要删除这篇文章吗？') ? true : false;" class="ui mini red basic button"   >删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1" >
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一页</a>
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class=" item" th:unless="${page.last}">下一页</a>
                        </div>
                        <a href="#" th:href="@{/admin/blogs/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>

        </div>

    </div>
</div>


<footer  th:replace="~{admin/_fragments :: footer}" class="ui inverted vertical segment m-padded-tb-massive  ">


    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">

            <div class="three wide column">

                <div class="middle aligned">

                    <img src="../../static/images/mio1.png"
                         class="ui middle aligned round image" alt="" style="width: 150px">
                </div>


            </div>
            <div class="three wide column ">
                <h4 class ="ui inverted header" >最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">等待填充1</a>
                    <a href="#" class="item">等待填充2</a>
                    <a href="#" class="item">等待填充3</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class ="ui inverted header">github</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">yonghuname@github.com</a>
                    <a href="#" class="item">等待填充</a>
                    <a href="#" class="item">等待填充</a>
                </div>
            </div>

            <div class="seven wide column">

                <h4 class ="ui inverted header">博客介绍</h4>

                <p  class="m-text-thin m-text-spaced m-opacity-mini ">这是我的个人博客,会分享文章，也可能被拿来做todolist</p>

            </div>
        </div>

        <!--111111111111111111111111111111-->

        <div class="ui inverted section divider m-padded-tb-">
        </div> <p class="m-text-thin m-text-spaced m-opacity-mini">All rights reserved  </p>
    </div>
</footer>

</body>

<!--<script  src="https://cdn.jsdeliver.net/semantic-ui/2.2.4/semantic.min.js"></script>-->
<!--<script  src="https://cdn.jsdeliver.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->

</html>
<!--为什么不用ajax 这组件太难用 -->
<script>

    $(document).ready(function() {
        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hidden');
        });
    });
    $('.ui.dropdown')
        .dropdown({
            // you can use any ui transition
            // transition: 'drop',
            on:  'hover'
        })
    // $是jquery的语法
    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }
    // 选取name属性值为DOM 的元素
    //能拿到 <input type="hidden" name="page"> 这个值吧,他是不是说错了??? 来自弹幕
    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });


    // 定义名为loaddata的函数，用于通过AJAX加载数据
    function loaddata() {
        // 使用jQuery的.load()方法从服务器加载数据
        // 第一个参数是请求的URL，这里使用了模板字符串来插入后端提供的路径
        // 路径中的/*@{/admin/blogs/search}
        // 可能是后端模板引擎的占位符，实际路径会在服务器端解析
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            // 第二个参数是一个对象，包含了要发送到服务器的数据
            // 这些数据将作为查询参数（GET请求）附加到URL上

            // 获取名为'title'的输入框的值
            title : $("[name='title']").val(),
            // 获取名为'typeId'的输入框的值
            typeId : $("[name='typeId']").val(),
            // 获取名为'recommend'的复选框的选中状态
            // prop('checked')用于获取复选框的选中状态，返回布尔值
            recommend : $("[name='recommend']").prop('checked'),
            // 获取名为'page'的输入框的值
            page : $("[name='page']").val()
        });
    }
    $('#clear-btn')
        .on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        })
    ;
</script>