<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue TodoList</title>
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/semantics-dist/semantic.min.css" th:href="@{/semantics-dist/semantic.min.css}">
    <link rel="icon" th:href="@{/images/icon1logo32.ico}" href="/favicon.ico">
    <script src="../../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}" ></script>
    <link rel="stylesheet" href="../../static/lib/editormd-master/css/editormd.min.css"  th:href="@{/lib/editormd-master/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/vueelement/index.css">

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../../static/vueelement/vue.js"></script>

    <script src="../../static/vueapp/element.js"></script>


    <script src="../../static/semantics-dist/semantic.min.js" th:src="@{/semantics-dist/semantic.min.js}" ></script>
    <!--    有时候静态页面比thymeleaf好用 -->
    <style >
        body {
            background-image: url(/images/anime11.png);
            background-size: cover;/
        background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>

<div>   233</div>
<div id="app">
    输入
    <el-input
            placeholder="请输入内容"
            v-model="inputValue"
    ></el-input>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            inputValue: ''
        }
    });
</script>


</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</html>