<!DOCTYPE html>
<html lang="en">


<head th:replace="~{_fragments:: head(~{::title})}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="../static/semantics-dist/semantic.min.css" th:href="@{/semantics-dist/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">

    <script src="../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}" ></script>
    <script src="../static/semantics-dist/semantic.min.js" th:src="@{/semantics-dist/semantic.min.js}" ></script>
</head>
<body>
<nav  th:replace="~{_fragments ::menu(n=5)}" class = "ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container"  >
        <div class="ui inverted secondary stackable menu">
            <h3 class="ui teal header item">T's BLOG</h3>
            <a class="m-item m-mobile-hidden item"> <i class="ui home icon">  </i>首页</a>
            <a class="m-item m-mobile-hidden item"> <i class="ui idea icon">  </i>分类</a>
            <a class="m-item m-mobile-hidden item"><i class="ui tags icon">  </i>标签</a>
            <a class="m-item m-mobile-hidden item"><i class="ui clone icon">  </i>归档</a>
            <a class="active m-mobile-hidden item"><i class="ui info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon inverted input">
                    <input type="text" placeholder="搜索....">
                    <i class="ui search icon"></i>

                </div>
            </div>
        </div>

    </div>
    <a href="#" class="ui menu toggle m-mobile-show black button">
        <i class="sidebar icon m-top-right "></i>
    </a>
</nav>
<!--    中间内容 -->

<br><br><br>
<br>
<div class="m-container-big m-padded-tb-big">

    <div class="ui stackable grid">
        <!-- 左侧图片 -->
        <div class="ui container">

            <div class="ui grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <div class=" article ">
                            <div class="ui top attached segment">
                                <div class="ui header">关于本网站</div>
                            </div>
                            <div class="ui attached segment">
                                <p class="m-text-big">     学途智助。致力于解决大学生特别是计算机专业学生学习面临的各种需求。学习有东西想要快速记下来，多端同步。
                                    学习没有计划，学习一会想要看个网课却被首页视频吸引走，想要知道自己学习时候的网站情况分析，学习太久太累没有聊天对象，</p>
                                <h4 href="">学习笔记文章分享</h4><p class="m-text-big">

                                    学习笔记太杂乱不知道写哪里？ markdown笔记托管与云端，适配手机端，从网页到移动端都可以访问本网站。
                                    可以把文章分享出去。互相交流。
                                <h4 href="">TODOlist</h4>  <p class="m-text-big">任务太多不知道要干什么，自己构建todo，类滴答清单的todolist，记录完成你要干的事情     </p>
                                <h4 href="">规避视频网站首页的推荐系统</h4>  <p class="m-text-big">    学习网课，登录b站？被推荐系统勾走了魂儿。通过本站爬虫工具，可以跳过推荐系统的首页，本地构建视频。 </p>
                                <h4 href="">浏览器使用情况可视化</h4>    <p class="m-text-big">  手机可以下软件禁止，但是浏览器又不得不用，结合开源插件上传到云端的数据，直观可视化呈现你的网络使用情况，帮助你整理你的学习情况。  </p>
                                <h4 href="">AICHAT辅助</h4>    <p class="m-text-big"> 学习太累，需要心理疏导。学习知识，需要机器人辅助。本站特配RAG特定场景机器人。解决你的烦恼。</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="five wide column">
                    <!-- 关于我的标题和正文 -->
                    <div class="aboutmeinfo  ui segment" style="  max-width:400px; ">
                        <div class=" article ">
                        <div class="ui top attached segment">
                            <div class="ui header">关于本网站</div>
                        </div>
                            <img class="ui fluid image" src="../static/images/mio1.png" th:src="@{/images/mio1.png} ">
                        </div>

                        </div>


                        <div class="ui attached segment">
                            <div class="ui orange basic left pointing label">文章笔记分享</div>
                            <div class="ui orange basic left pointing label">TODO</div>
                            <div class="ui orange basic left pointing label">图表</div>
                            <div class="ui orange basic left pointing label">AI机器人陪聊</div>
                            <div class="ui orange basic left pointing label">网课自爬取</div>
                        </div>

                        <div class="ui attached segment">

                            <div class="ui teal basic left pointing label">C++</div>
                            <div class="ui teal basic left pointing label">java</div>
                            <div class="ui teal basic left pointing label">python</div>
                            <div class="ui teal basic left pointing label">SQL</div>
                        </div>
                        <div class="ui bottom attached segment">
                            <a href="#" class="ui mygithub circular icon button" data-content="yonghuname">
                                <i class="github icon"></i>
                            </a>
                            <a href="https://gitee.com/tzjm" class=" ui circular   middle aligned icon button  " target="_blank" data-content="yonghuname">
                                <image class="circular mygitee center  aligned icon button" src="../static/images/gitee-logo.ico" data-content="tzjm" th:src="@{images/gitee-logo.ico}" style=" filter: grayscale(100%); ">

                                </image></a>

                            <a href="#" class="ui mymail circular icon button" data-content="yonghuname@github.com">
                                <i class="mail icon"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右侧内容 -->
    </div>
</div>

<br>
<br>

<footer th:replace="~{_fragments :: footer}" class="ui inverted vertical segment m-padded-tb-massive  ">



    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">

            <div class="three wide column">

                <div class="middle aligned">

                    <img src="../static/images/mio1.png"
                         class="ui middle aligned round image" alt="" style="width: 150px" >
                </div>


            </div>
            <div class="three wide column ">
                <h4 class ="ui inverted header" >最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">等待填充1</a>
                    <a href="#" class="item">等待填充2</a>
                    <a href="#" class="item">等待填充3</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class ="ui inverted header">github</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">yonghuname@github.com</a>
                    <a href="#" class="item">等待填充</a>
                    <a href="#" class="item">等待填充</a>
                </div>
            </div>

            <div class="seven wide column">

                <h4 class ="ui inverted header">博客介绍</h4>

                <p  class="m-text-thin m-text-spaced m-opacity-mini ">这是我的个人博客,会分享文章，也可能被拿来做todolist</p>

            </div>
        </div>


        <div class="ui inverted section divider m-padded-tb-">
        </div> <p class="m-text-thin m-text-spaced m-opacity-mini">All rights reserved  </p>
    </div>
</footer>

</body>

<!--<script  src="https://cdn.jsdeliver.net/semantic-ui/2.2.4/semantic.min.js"></script>-->
<!--<script  src="https://cdn.jsdeliver.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->

</html>

<script>


    $('.menu.toggle').click(function() {
        $('.m-item').toggleClass('m-mobile-hidden');
    });

    $('.mymail').popup(   );

    $('.mygithub').popup(   );
    $('.mygitee').popup(   );
</script>